*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid black; */
}

header{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* align-items: end; */
    background-color: #6D38E0;
    min-height: 25vh;
    height: auto;
    align-items: center;
    color: white;
}
h1{
    font-size: 2em;
}

header img{
    width: 70px;
    height: 70px;
    border-radius: 100%;

}
.divALINEADOR{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid white;
}

.logoYh1{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* gap: 5px; */
    width: 250px;    
}

nav{
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-right: 50px;
    /* width: 70%; */
}
nav a{
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 15px;
    /* border: 1px solid white; */
}

nav a[href="#"]{
    border: 1px solid white;
}

main{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

footer{
    color: white;
    min-height: 10vh;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}




